.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #2B4074;
    margin: 0 auto;
}

.header__logo {
    margin-left: 61px;
}

.header__menu {
    margin-right: 150px;
}

.header__menu:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media (max-width: 1200px) {
    .header {
        max-width: 1024px;
    }
    .header__menu {
        margin-right: 41px;
    }

    .header__logo {
        margin-left: 46px;
    }
}

@media (max-width: 1010px) {
    .header {
        max-width: 770px;
    }
    .header__menu {
        margin-right: 30px;
    }

    .header__logo {
        margin-left: 30px;
    }
}

@media (max-width: 785px) {
    .header {
        max-width: 640px;
    }
}

@media (max-width: 650px) {
    .header {
        max-width: 320px;
    }
    .header__menu {
        margin-right: 25px;
    }
    .header__logo {
        margin-left: 25px;
    }
}